* {
	margin:0px;
	padding:0px;
}
body{
	min-height: 100%;
	position: relative;
	margin:0;
	padding: 0;
	
}
.jumbotron{
	background-color: #2196F3;
	color: black;
	margin-top: 50px;
	width: 100%;
	padding: 100px 0 60px 0;
	
}
.card-hotel{
	flex: 1 280px;
	padding: 0;
	margin: 10px 5px 0 5px;
	
}
.btn-reserva{
	width: 100% ;
	border-radius: 0;
}
.footer{
	padding: 5px 5px 0 5px;
	color: #2196F3;
	background-color: black;
	margin-top: 15px;
	position: absolute;
	width: 100%;
	align-self: flex-end;
	text-align: center;
	height: auto;
	
}



.footer-address-icon{
	padding-right: 5px;
}

.flexcontainer{
	display: flex;
	

}